@import url('https://fonts.googleapis.com/css?family=Lato');
html, body, #root, .App {
  height: 100%;
}
body {
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
  background: #EEEEEE;
  -webkit-font-smoothing: subpixel-antialiased;
}

.App {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

@media(min-width: 40em) {
 .App {
    width: 40%;
  } 
}

.nav {
  padding: 10px 0;
  text-align: center;
  background: #fff;
}

.nav a {
  padding: 5px 10px;
  text-decoration: none;
}

a.active {
  color: #fff;
  background-color: rgb(28, 114, 226);
}

.page {
  box-sizing: border-box;
  background: #FFFFFF;
  padding: 120px 30px 20px;
  box-shadow: 0 14px 8px 0 rgba(0,0,0,0.08), 0 9px 16px 4px rgba(0,0,0,0.12);
  position: relative;
  top: 40%;
  transform: translateY(-50%); 
  height: 420px;
  overflow: hidden;
  text-align: center;
}

img {
  display: block;
  width: 120px;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 40px;
}

h2 {
  font-weight: normal;
  color: #616161;
  text-align: center;
}

p {
  text-align: center;
  padding: 0 400px;
  color: #848484;
  font-weight: lighter;
 }

 .form {
   display: flex;
   justify-content: center;
   margin-top: 400px;
 }

.form input {
  background: #FAFAFA;
  border: 1px solid #C7C7C7;
  border-radius: 2px;
  height: 400px;
  width: 180px;
  font-size: 14px;
  margin-right: 20px;
  color: #848484;
  outline: none;
  padding-left: 7px;
}

.form button {
  background: #F76C6C;
  box-shadow: 0 16px 18px 0 rgba(0,0,0,0.13), 0 4px 6px 0 rgba(0,0,0,0.16);
  border-radius: 2px;
  border: none;
  color: #fff;
  padding: 10px 15px;
  outline: none;
  cursor: pointer;
  opacity: 1;
  transition: opacity 150ms ease-in-out;
}

.form button:hover {
  opacity: 0.9;
}

.SlideInFromRight-appear {
  transform: translateX(400px);
  -webkit-transform: translateX(400px);
  -moz-transform: translateX(400px);
  -o-transform: translateX(400px);
  -ms-transform: translateX(400px);
  opacity: 0;
}

.SlideInFromRight-appear.SlideInFromRight-appear-active {
  opacity: 1;
  transform: translateX(0);
  -webkit-transform: translateX(0);
  -moz-transform: translateX(0);
  -o-transform: translateX(0);
  -ms-transform: translateX(0);
  transition: all 0.2s linear;
}
.SlideInFromRight-enter {
    opacity: 0;
    transform: translateX(400px);
  -webkit-transform: translateX(400px);
  -moz-transform: translateX(400px);
  -o-transform: translateX(400px);
  -ms-transform: translateX(400px);
}
.SlideInFromRight-enter.SlideInFromRight-enter-active {
    opacity: 1;
    transform: translateX(0);
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -o-transform: translateX(0);
    -ms-transform: translateX(0);
    transition: all 0.15s linear 0.4s;
}
.SlideInFromRight-leave {
    opacity: 1.0;
    transform: translateX(0);
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -o-transform: translateX(0);
    -ms-transform: translateX(0);
}
.SlideInFromRight-leave.SlideInFromRight-leave-active {
    opacity: 0;
    position: absolute;
    width: 100%;
    transform: translateX(-400px);
    -webkit-transform: translateX(-400px);
    -moz-transform: translateX(-400px);
    -o-transform: translateX(-400px);
    -ms-transform: translateX(-400px);
    transition: all 0.15s linear;
}







.SlideInFromLeft-appear {
  transform: translateX(-400px);
  -webkit-transform: translateX(-400px);
  -moz-transform: translateX(-400px);
  -o-transform: translateX(-400px);
  -ms-transform: translateX(-400px);
  opacity: 0;
}

.SlideInFromLeft-appear.SlideInFromLeft-appear-active {
  opacity: 1;
  transform: translateX(0);
  -webkit-transform: translateX(0);
  -moz-transform: translateX(0);
  -o-transform: translateX(0);
  -ms-transform: translateX(0);
  transition: all 0.2s linear;
}
.SlideInFromLeft-enter {
    opacity: 0;
    transform: translateX(-400px);
  -webkit-transform: translateX(-400px);
  -moz-transform: translateX(-400px);
  -o-transform: translateX(-400px);
  -ms-transform: translateX(-400px);
}
.SlideInFromLeft-enter.SlideInFromLeft-enter-active {
    opacity: 1;
    transform: translateX(0);
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -o-transform: translateX(0);
    -ms-transform: translateX(0);
    transition: all 0.15s linear 0.4s;
}
.SlideInFromLeft-leave {
    opacity: 1.0;
    transform: translateX(0);
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -o-transform: translateX(0);
    -ms-transform: translateX(0);
}
.SlideInFromLeft-leave.SlideInFromLeft-leave-active {
    opacity: 0;
    position: absolute;
    width: 100%;
    transform: translateX(400px);
    -webkit-transform: translateX(400px);
    -moz-transform: translateX(400px);
    -o-transform: translateX(400px);
    -ms-transform: translateX(400px);
    transition: all 0.15s linear;
}



.SlideDown-appear {
  transform: translateY(-400px);
  -webkit-transform: translateY(-400px);
  -moz-transform: translateY(-400px);
  -o-transform: translateY(-400px);
  -ms-transform: translateY(-400px);
  opacity: 0;
}

.SlideDown-appear.SlideDown-appear-active {
  opacity: 1;
  transform: translateY(0);
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  -o-transform: translateY(0);
  -ms-transform: translateY(0);
  transition: all 0.2s linear;
}
.SlideDown-enter {
    opacity: 0;
    transform: translateY(-400px);
  -webkit-transform: translateY(-400px);
  -moz-transform: translateY(-400px);
  -o-transform: translateY(-400px);
  -ms-transform: translateY(-400px);
}
.SlideDown-enter.SlideDown-enter-active {
    opacity: 1;
    transform: translateY(0);
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -o-transform: translateY(0);
    -ms-transform: translateY(0);
    transition: all 0.15s linear 0.4s;
}
.SlideDown-leave {
    opacity: 1.0;
    transform: translateY(0);
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -o-transform: translateY(0);
    -ms-transform: translateY(0);
}
.SlideDown-leave.SlideDown-leave-active {
    opacity: 0;
    position: absolute;
    width: 100%;
    transform: translateY(400px);
    -webkit-transform: translateY(400px);
    -moz-transform: translateY(400px);
    -o-transform: translateY(400px);
    -ms-transform: translateY(400px);
    transition: all 0.15s linear;
}



.SlideUp-appear {
  transform: translateY(400px);
  -webkit-transform: translateY(400px);
  -moz-transform: translateY(400px);
  -o-transform: translateY(400px);
  -ms-transform: translateY(400px);
  opacity: 0;
}

.SlideUp-appear.SlideUp-appear-active {
  opacity: 1;
  transform: translateY(0);
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  -o-transform: translateY(0);
  -ms-transform: translateY(0);
  transition: all 0.2s linear;
}
.SlideUp-enter {
    opacity: 0;
    transform: translateY(400px);
  -webkit-transform: translateY(400px);
  -moz-transform: translateY(400px);
  -o-transform: translateY(400px);
  -ms-transform: translateY(400px);
}
.SlideUp-enter.SlideUp-enter-active {
    opacity: 1;
    transform: translateY(0);
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -o-transform: translateY(0);
    -ms-transform: translateY(0);
    transition: all 0.15s linear 0.4s;
}
.SlideUp-leave {
    opacity: 1.0;
    transform: translateY(0);
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -o-transform: translateY(0);
    -ms-transform: translateY(0);
}
.SlideUp-leave.SlideUp-leave-active {
    opacity: 0;
    position: absolute;
    width: 100%;
    transform: translateY(-400px);
    -webkit-transform: translateY(-400px);
    -moz-transform: translateY(-400px);
    -o-transform: translateY(-400px);
    -ms-transform: translateY(-400px);
    transition: all 0.15s linear;
}

